In [3]:
# Import librabies
import pymysql
import pandas as pd
from dotenv import load_dotenv
import os

In [4]:
# Load environment variables
load_dotenv()
MYSQL_PWD = os.getenv("MYSQL_PWD")

In [5]:
# Database connection details
DB_CONFIG = {
    "host": "localhost",
    "user": "root",
    "password": MYSQL_PWD,
    "database": "EcomMindDB"
}

In [6]:
# Connect to MySQL
conn = pymysql.connect(**DB_CONFIG)
cursor = conn.cursor()

In [7]:
# Load data from MySQL into a Pandas DataFrame
query = "SELECT * FROM OrderHistory;"
df = pd.read_sql(query, conn)

/tmp/ipykernel_67691/1987692200.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [8]:
# Show 1st 5 rows of the DataFrame
df.head()

,order_id,customer_id,sku,product_name,category,quantity,price,total_price,order_date,status
0,1,3230,HOU-30441,Garbage Bags,Household,6,54.39,326.34,2025-01-26 14:41:06,Delivered
1,2,4804,GRO-44916,Rice,Grocery,9,78.72,708.48,2024-03-21 14:41:06,Delivered
2,3,3182,HOU-33459,Garbage Bags,Household,10,50.32,503.20,2024-05-30 14:41:06,Cancelled
3,4,3344,GRO-94947,Olive Oil,Grocery,4,67.49,269.96,2024-08-17 14:41:06,Shipped
4,5,1019,HOU-51241,Broom,Household,6,10.60,63.60,2024-09-23 14:41:06,Cancelled

In [9]:
# Print shape of the DataFrame
df.shape

(300, 10)

In [10]:
# Check missing values
df.isnull().sum()

order_id        0
customer_id     0
sku             0
product_name    0
category        0
quantity        0
price           0
total_price     0
order_date      0
status          0
dtype: int64

In [11]:
# Check duplicate rows
df.duplicated().sum()

0

In [13]:
# Check rows with zero or negative quantity
df[df["quantity"] <= 0]

Empty DataFrame
Columns: [order_id, customer_id, sku, product_name, category, quantity, price, total_price, order_date, status]
Index: []

In [14]:
# Check rows with negative price
df[df["price"] < 0]

Empty DataFrame
Columns: [order_id, customer_id, sku, product_name, category, quantity, price, total_price, order_date, status]
Index: []

In [15]:
# Close database connection
cursor.close()
conn.close()

### Order History is already cleaned