In [1]:
# Import librabies
import pymysql
import pandas as pd
from dotenv import load_dotenv
import os

In [2]:
# Load environment variables
load_dotenv()
MYSQL_PWD = os.getenv("MYSQL_PWD")

In [3]:
# Database connection details
DB_CONFIG = {
    "host": "localhost",
    "user": "root",
    "password": MYSQL_PWD,
    "database": "EcomMindDB"
}

In [4]:
# Connect to MySQL
conn = pymysql.connect(**DB_CONFIG)
cursor = conn.cursor()

In [5]:
# Load data from MySQL into a Pandas DataFrame
query = "SELECT * FROM PricingInventory;"
df = pd.read_sql(query, conn)

/tmp/ipykernel_68865/2349207114.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [6]:
# Show 1st 5 rows of the DataFrame
df.head()

         sku product_name category    brand  price  stock
0  GRO-10125    Olive Oil  Grocery  Brand A  45.27    203
1  GRO-10161        Honey  Grocery  Brand C   1.64    176
2  GRO-10715        Honey  Grocery  Brand D  12.55    189
3  GRO-10835  Wheat Flour  Grocery  Brand C  15.78    429
4  GRO-13884       Coffee  Grocery  Brand D  13.29    346

In [7]:
# Print shape of the DataFrame
df.shape

(200, 6)

In [8]:
# Check missing values
df.isnull().sum()

sku             0
product_name    0
category        0
brand           0
price           0
stock           0
dtype: int64

In [9]:
# Check duplicate rows
df.duplicated().sum()

0

In [10]:
# Check rows with negative price
df[df["price"] < 0]

Empty DataFrame
Columns: [sku, product_name, category, brand, price, stock]
Index: []

In [11]:
# Check rows with negative stock
df[df["stock"] < 0]

Empty DataFrame
Columns: [sku, product_name, category, brand, price, stock]
Index: []

In [12]:
# Close database connection
cursor.close()
conn.close()

### Pricing Inventory is already cleaned