In [1]:
# Import libraries
import pandas as pd
import numpy as np

In [3]:
# Load the product catalog CSV file
file_path = "../database/product_catalog.csv" 
df = pd.read_csv(file_path)

In [4]:
# Print the first 5 rows of the dataframe
df.head()

         SKU   Product Name   Category    Brand  Price (USD)  Stock
0  GRO-30685    Milk Powder    Grocery  Brand C        16.73    128
1  HOU-53340  Air Freshener  Household  Brand D        13.52    460
2  GRO-24767           Rice    Grocery  Brand B        19.87     81
3  GRO-83921          Sugar    Grocery  Brand B         7.37    292
4  HOU-91821  Air Freshener  Household  Brand C        13.54    293

In [5]:
# 1. Remove duplicate entries
df.drop_duplicates(inplace=True)

In [7]:
df.shape

(200, 6)

In [8]:
# 2. Standardize product names, categories
df['Product Name'] = df['Product Name'].str.title().str.strip()
df['Category'] = df['Category'].str.title().str.strip()

In [9]:
# Sanity check for the changes
df.head()

         SKU   Product Name   Category    Brand  Price (USD)  Stock
0  GRO-30685    Milk Powder    Grocery  Brand C        16.73    128
1  HOU-53340  Air Freshener  Household  Brand D        13.52    460
2  GRO-24767           Rice    Grocery  Brand B        19.87     81
3  GRO-83921          Sugar    Grocery  Brand B         7.37    292
4  HOU-91821  Air Freshener  Household  Brand C        13.54    293

In [10]:
# Check missing values
df.isnull().sum()

SKU             0
Product Name    0
Category        0
Brand           0
Price (USD)     0
Stock           0
dtype: int64

In [11]:
df.to_csv(file_path, index=False)

### Product Catelog is already cleaned